*{
    font-family: 'Inter';
}

body{
    height:100vh;
    overflow: hidden;
    background-image: url("./images/pattern-bg.svg"), url("./images/pattern-curve.svg"), url("./images/pattern-quotes.svg");
    background-repeat: no-repeat;
    background-position: top 50% right 10%, bottom left, bottom 70% left 20%;
}

.container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height:100%;
}

.content{
    font-size: 2rem;
    color:hsl(240, 38%, 20%);
    font-weight:300;
    width:50%;
    height:100%;
}


.content-john{
    display: none;
}

.main-text{
    position: absolute;
    top:25%;
    left:10%;
    width:50%;
}


.image-and-buttons{
    position: relative;
    width:45%;
    margin:0;
    padding:0;
}

.image{
    width:80%;
    height:80%;
    padding: 0;
    margin: 0;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
}

.buttons-container{
    position: absolute;
    bottom:-2.5%;
    left:5%;
    border:0;
    font-size: 0;
}

.button{
    margin:0;
    padding:0.5em;
    cursor:pointer;
    outline:none;
    border: none;
    width:3em;
    background-color: white;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));    
}

.prev{
    border-top-left-radius: 3.125rem;
    border-bottom-left-radius: 3.125rem;
}

.next{
    border-top-right-radius: 3.125rem;
    border-bottom-right-radius: 3.125rem;
}

.name{
    font-weight: 700;
    color:hsl(240, 38%, 20%)
}


@media only screen and (max-width: 720px) {
    body {
        background-position: top 4.5% center, bottom left, center top 55%;
        background-size: 22rem, 31.25rem, 6.25rem;
    }

    .container {
        flex-direction: column;
    }
    .image-and-buttons{
        width:100%;
        display: flex;
        justify-content: center;
        margin-top: 5em;
    }
    
    .image{
        margin:0 auto;
        height:95%;
    }

    .buttons-container{
        left:40%;
        bottom:-1%;
    }

    .content{
        margin-top:2em;
        width:100%;
        flex-direction: column;
    }
    .main-text{
        font-size: 1.25rem;
        margin:0 auto;
        text-align: center;
        width:90%;
        position: static;
    }
    
  }