html{
    background-image: url('./images/bg-intro-desktop.png');
    background-color: hsl(0, 100%, 74%) ;
    font-family: 'Poppins';
    color:white;
    height:100%;
}

body{
    height:100%;
}


main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}

input{
    width:80%;
    padding: 1em;
    border-radius:5px;
    border:1px solid hsl(246, 25%, 77%);
    outline:none;
}

h1{
    font-size: 3rem;
    line-height: 1.2em;
}

h2{
    padding:1em;
    border-radius:10px;
    background-color: hsl(248, 32%, 49%);
    font-size: 0.75rem;
    width:95%;
    text-align: center;
    font-weight: 400;
}


h2 span{
    font-weight: 700;
}

label{
    color:gray;
    opacity: 0.7;
    font-size: 0.6rem;
}


form{
    background-color: white;
    border-radius:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height:100%;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:80%;
    height:100%
}

.content{
    width:50%;
}

.formContainer{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:80%;
}

.field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:90%;
    margin:0.6em;
}

.field label{
    width:85%;
    font-style: italic;
}

.field input::placeholder{
    opacity:0.4
}

.terms{
    color:gray;
    opacity: 0.7;
    margin:0;
    padding: 0;
    font-size: 0.8rem;
    margin-top:1em;
    
}

.terms span{
    color:hsl(0, 84%, 63%);
    cursor: pointer;
}

.submit{
    width:78%;
    padding:1em;
    color:white;
    background-color:hsl(154, 59%, 51%);
    outline:none;
    border:0;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

@media screen and (max-width:600px){
    .container{
        flex-direction: column;
        text-align: center;
    }
    .content{
        width:100%;
    }
    h1{
        font-size: 2rem;
    }
    .formContainer{
        width:100%;
    }
    .formContainer h2{
        font-size:1.25em;
        width:90%;
    }

}
