html{
    height:100%;
    background-color:hsl(257, 40%, 49%);
}

body{
    color:white;
    font-weight: 400;
    font-size: 1rem;
    height:90%;
}

header{
    display: block;
}

.container{
    width:100%;
    height:85%;
    /* margin:2em; */
}

.image-and-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height:100%;
}

.image-and-content img{
    width: 45%;
}

.content{
    width:30%;
    padding:2em;
}

.content h1{
    font-family: 'Poppins';
    font-weight: 700;
}

.content p{
    font-family: 'Open Sans';
    font-size: 0.85rem;
}

.register-button{
    color:hsl(257, 40%, 49%);
    font-size: large;
    background-color: white;
    padding:1em;
    width:50%;
    border:0;
    padding: 0.8em;
    border-radius: 20px;
}

.social-media{
    display: flex;
    justify-content: flex-end;
    
}

.social-media i{
    /* height:1em;
    width:1em; */
    margin:1em;
    padding:0.7em;
    border: 1px white solid;
    border-radius: 50%;
}

