body{
    background-image: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%)) ;
    height:100vh;
    font-family: 'Kumbh Sans';
    font-size: 12px;
}

h1{
    font-size: xx-large;
}

.attribution{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    background-color: white;
    height:80%;
    width:70%;
    border-radius: 40px;
    z-index: 4;
}

.womanFigureContainer{
    overflow: hidden;
    display: flex;
    align-items: center;
    height:100%;
    width:50%;
}

#womanImageLines{
    width:90%;
    z-index: 5;
    right:10%;
    bottom: 1rem;
    position: relative;
    object-fit: contain;
}

#womanImage{
    width: 90%;
    right:100%;
    bottom: 1rem;
    z-index: 6;
    position: relative;
    object-fit: contain;
}

#boxImage{
    width:10%;
    position: absolute;
    z-index: 7;
    object-fit: contain;
    margin:0;
    padding:0;
    left:10%
}

.faqSection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:50%;
    height:75%;
    top:8rem;
}

.details{
    border-bottom: 1px solid #e7e7e9;

}

.question{
    display: flex;
    cursor: pointer;
    color:#99989D;
}

.question:hover{
    color:black
}

.question img{
    object-fit: contain;
    margin-left:20px;
}

.question h3{
    font-size: 300;
}

.answer{
    display: none;
    overflow: hidden;
    font-family: 'Kumbh Sans';
    font-weight: 400;
    color: #99989D;
    padding: 5px;
    text-align: left;
}

.questionActive{
    color:black
}

.answerActive{
    display: block;
}

#questionsAndAnswers{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:800px){
   
    .container{
        flex-direction: column;
        height:100%;
        width: 90%;
        margin-top:50%;
    }
    
    .womanFigureContainer{
        overflow: visible;
        height:50%;
        justify-content: center;
        width:100%;
        margin-bottom: -25px;
    }
    
    #womanImage{
        width:50%;
        left:-25%;
        top:-60%;
        object-fit: contain;
    } 
    #womanImageLines{
        width: 50%;
        left: 25%;
        top:-60%;
    }
    
    #boxImage{
        width:22%;
        left:20%;
        top:18vh;
    }

    .faqSection{
        width:100%;
        align-items: center;
    }

    #faqHeader{
        width:100%;
        align-items: center;
        justify-content: center;
    }
}