body{
    background-image: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%)) ;
    height:100vh;
    font-family: 'Kumbh Sans';
    font-size: 12px;
}

h1{
    font-size: xx-large;
}

.attribution{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    background-color: white;
    height:80%;
    width:70%;
    border-radius: 40px;
    z-index: 4;
}

.womanFigureContainer{
    overflow: hidden;
    display: flex;
    align-items: center;
    height:100%;
    width:50%;
}

#womanImageLines{
    width:400px;
    z-index: 5;
    left:-3rem;
    bottom: 1rem;
    position: relative;
    object-fit: contain;
}

#womanImage{
    width: 400px;
    left:-28rem;
    bottom: 1rem;
    z-index: 6;
    position: relative;
    object-fit: contain;
}

#boxImage{
    width:150px;
    position: absolute;
    z-index: 7;
    object-fit: contain;
    margin:0;
    padding:0;
    left:7.5rem
}

.faqSection{
    display: flex;
    width:50%;
    top:8rem;
}

.question h3{
    font-size: 300;
}

#questionsAndAnswers{
    display: flex;
    flex-direction: column;
}