html{
    background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    height:100%;
    width:100%;
}

body{
    height:100%;
    width:100%;
}

h3{
    font-weight: 600;
}

pre{
    color:hsl(229, 6%, 66%);
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
}

.headers{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* height:25%; */
}

.headers h1{
    font-weight: 200;
    color:  rgb(110,110,123);
    padding: 0;
    margin: 0;
}

.headers p:nth-child(2){
    font-weight: 800;
    font-size: 2rem;
    color:hsl(234, 12%, 34%);
    padding: 0;
    margin: 0;
}

.headers p:nth-child(3){
    font-weight: 200;
    font-size: 0.75rem;
    padding: 0;
    margin: 0;
}


.cards{
    width: 80%;
    /* height:75%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
    width:20em;
}

.card{
    background-color: white;
    height:15rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-data{
    margin:1em;
}

.card-data h3{
    color: hsl(234, 12%, 34%);
}

.card-data p{
    color: hsl(229, 6%, 66%);
    font-size: 0.8em;
}

.card1{
    border-top: hsl(180, 62%, 55%) 5px solid;
}

.card2{
    border-top: hsl(0, 78%, 62%) 5px solid;
}

.card3{
    border-top: hsl(34, 97%, 64%) 5px solid;
}

.card4{
    border-top: hsl(212, 86%, 64%) 5px solid;
}
