html{
    background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    height:100%;
    width:100%;
}

body{
    height:100%;
    width:100%;
    overflow: hidden;
}

h3{
    font-weight: 600;
}

pre{
    color:hsl(229, 6%, 66%);
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headers{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.headers h1{
    font-weight: 200;
    color:  rgb(110,110,123);
    padding: 0;
    margin: 0;
}

.headers p:nth-child(2){
    font-weight: 800;
    font-size: 2rem;
    color:hsl(234, 12%, 34%);
    padding: 0;
    margin: 0;
}

.headers p:nth-child(3){
    font-weight: 200;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    width:60%;
    color:hsl(229, 6%, 66%)
}


.cards{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
    width:21em;
}

.card{
    background-color: white;
    height:12em;
    margin:1em;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-data{
    margin:1.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card-data h3{
    color: hsl(234, 12%, 34%);
    padding: 0;
    margin: 0;
}

.card-data p{
    color: hsl(229, 6%, 66%);
    font-size: 0.8em;
    padding: 0;
}

.card-data img{
    width:3em;
    align-self: flex-end;
    margin-top: 10px;
}

.card1{
    border-top: hsl(180, 62%, 55%) 5px solid;
}

.card2{
    border-top: hsl(0, 78%, 62%) 5px solid;
}

.card3{
    border-top: hsl(34, 97%, 64%) 5px solid;
}

.card4{
    border-top: hsl(212, 86%, 64%) 5px solid;
}

@media only screen and (max-width: 600px) {
    .cards {
      flex-direction: column;
    }
    body{
        overflow-x:hidden
    }
    .headers p:nth-child(3){
        width:80%;
    }
    
  }