html{
    font-family: 'Josefin Sans';
    font-weight: 300;
    font-size:1rem;
}

body{
    height: 100%;
    margin:0
}

h1{
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 0.75rem;
}

.we-are{
    color: hsl(0, 36%, 70%);
}

.gray{
    color:hsl(0, 6%, 24%)
}

.container{
    display: flex;
    height:100%;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.content-image{
    height:100%;
}

.content-and-logo{
    width:54%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    margin-top: 4em;
}

.content p{
    color: hsl(0, 36%, 70%);
}

.logo-image{
    width:33%;
    object-fit: contain;
    align-self:flex-start;
    margin-top: 1em;
}


::placeholder{
    color:hsl(0, 36%, 70%);
    opacity: 1; /*for firefox*/
}

.input{
    display: flex;
    flex-direction: row;
    width:100%;
    position: relative;
}

.submit{
    position: absolute;
    padding:0.5em;
    right:0;
    width:25%;
    border-radius: 25px;
    background: linear-gradient(to right,hsl(0, 38%, 68%),hsl(0, 93%, 68%));
    border:0;
    color: white;
    font-size: 1.5rem;
}

.email{
    flex:1;
    align-self: flex-start;
    padding:1.3em;
    width:100%;
    border-radius: 25px;
    border: 1px solid hsl(0, 36%, 70%);
    /* border-right: none; */
}

.email:focus{
    outline: none;
}