*{
    font-family: 'Manrope';
    font-size: 0.9rem;
}


body{
    height:100vh;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    display: flex;
    width:50%;
    min-height: 35%;
    background-color: white;
    border-radius: 10px;
}


#drawers{
    width:40%;
    border-radius: 10px 0px 0px 10px;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:60%;
    
}

.content{
    width:90%;
    height:100%;
}

.heading{
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 1.3rem;
}

.subtext{
    padding:0;
    margin:0;
    margin-top:0.5em;
    font-weight:500;
    font-size:0.85rem;
    color:hsl(212, 23%, 69%);
}

.meta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:30%;
}

.avatar-meta{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar-info{
    display: flex;
    flex-direction: column;
    margin-left:0.5em;
}

.avatar-info p{
    margin:0;
    padding: 0;
    color:hsl(212, 23%, 69%);
}

.avatar-info span{
    color:black
}

#avatar-image{
    border-radius: 50%;
    width:3em;
    height:3em;
}

.button{
    border:0;
    border-radius: 50%;
    width:2em;
    height:2em;
    margin-right:1em;
}

#share{
    width:10em;
    height:10em;
    padding:0.5em;
    border-radius: 50%;
    object-fit: contain;
    background-image: url("./images/icon-share.svg");
    /* background-image: url('./images/icon-share.svg'); */
    background-color: hsl(210, 46%, 95%);
}


