*{
    font-family: 'Manrope';
    font-size: 0.9rem;
}


body{
    height:100vh;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container{
    display: flex;
    width:55%;
    min-width:50%;
    min-height: 45%;
    background-color: white;
    border-radius: 10px;
}


.drawers{
    width: 40%;
    border-radius: 10px 0px 0px 10px;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:60%;
    /* position: relative; */
    margin: 1em;;
}

.content{
    padding:1.8em 2em;
    height:100%;
}

.heading{
    margin: 0;
    padding-bottom: 0;
    font-size: 1.3rem;
    color:hsl(217, 19%, 35%)
}

.subtext{
    padding:0;
    margin:0;
    margin-top:1em;
    font-weight:500;
    font-size:0.85rem;
    color:hsl(212, 23%, 69%);
}

.meta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:40%;
    margin-top:1em;
}

.avatar-meta{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar-info{
    display: flex;
    flex-direction: column;
    margin-left:0.5em;
}

.avatar-info p{
    margin:0;
    padding: 0;
    color:hsl(212, 23%, 69%);
}

.avatar-info span{
    color:hsl(217, 19%, 35%);
    font-weight: 700;
}

.avatar-image{
    border-radius: 50%;
    width:3em;
    height:3em;
}

.share-div{
    position: relative;
}

.button{
    border:0;
    border-radius: 50%;
    width:2em;
    height:2em;
    margin-right:1em;
    cursor: pointer;
    outline: none;
    background-color: hsl(210, 46%, 95%);
}

.mobile-share{
    display: none;
    align-items: center;
    justify-content: space-between;
    color:white;
    background-color: hsl(217, 19%, 35%);
    padding:0.75em;
    width:95%;
    height:100%;
    border-radius: 0 0 10px 10px;
}

.mobile-share .socialMedia-links{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-share .socialMedia-links span{ 
    letter-spacing: 0.2em;
    margin-left:1em;
}

.mobile-share .socialMedia-links img{ 
    margin-left:1em;
}

.mobile-share .close-button{
    margin-right:2em;
}

#tooltip{
    display: none;
    align-items: center;
    justify-content: space-around;
    color:white;
    position: absolute;
    background-color: hsl(217, 19%, 35%);
    padding:0.75em;
    width:15em;
    border-radius: 10px;
    top:-5em; 
    left: -7.5em;
}

#tooltip ::after {
    content: " ";
    position: absolute;
    top: 100%; 
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
  }


#tooltip span{
    color:hsl(214, 17%, 51%);
    letter-spacing: 0.2em;
}

#tooltip .socialMedia-links img{
    margin-left: 1em;
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .container {
      flex-direction: column;
      justify-content: space-between;
      width:100%;
    }
    .drawers{
        width: 100%;
        height:50%;
    }
    .content-container{
        width: 100%;
        height:100%;
        padding:0;
        margin: 0;
    }

    .subtext{
        margin-top:2em;
    }

  }



