body{
    margin: 5% 5% 0 5%;
}

h1{
    color:hsl(300, 43%, 22%);
    font-weight: 700;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.description{
    color:hsl(303, 10%, 53%)
}

.reviews{
    display: flex;
    flex-direction: column;   
    width:50%;
}

.review_card{
    background-color: #F7F2F8;
    padding:5px;
    display: flex;
    margin: 3px;
    color:hsl(300, 43%, 22%);
    border-radius: 10px;
}

.review_card p{
    margin-left:20px;
    font-size: 0.9rem;
    font-family: 'Spartan';
    font-weight: 700;
}


.upperSection{
    display: flex;
    height: 100%;
}

.upperSectionText{
    display: flex;
    flex-direction: column;
    width:40%;
    font-family: 'Spartan';
}

.bottomSection{
    display: flex;
    height:100%;
}
.card{
    width: 30%;
    height: 60%;
    border-radius: 10px;
    background-color: hsl(300, 43%, 22%);
}

.user{
    display: flex;
}

.user_image{
    border-radius: 50%;
    width: 12%;
    object-fit: contain;
    margin:10%;
}