html{
    font-size: 1rem;
    font-family: 'Spartan';
    font-weight: 400;
}

body{
    margin: 5% 7.5% 0 7.5%;
}

h1{
    color:hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 2.75rem;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.description{
    color:hsl(303, 10%, 53%);
    margin-top:0;
    padding-top: 0;
}

.reviews{
    display: flex;
    flex-direction: column;   
    align-items: flex-end;
    width:100%;
}

.review_card{
    background-color: #F7F2F8;
    padding:5px;
    display: flex;
    margin: 3px;
    color:hsl(300, 43%, 22%);
    border-radius: 10px;
    width:50%
}

.review_card p{
    margin-left:20px;
    font-size: 0.9rem;
    font-weight: 700;
}

.first_review{
    margin-right: 25%;
}

.second_review{
    margin-right:12.5%;
}


.upperSection{
    display: flex;
    height: 100%;
    width: 100%;
}

.upperSectionText{
    display: flex;
    flex-direction: column;
    width:50%;
}

.bottomSection{
    display: flex;
    justify-content: space-between;
    height:100%;
}
.card{
    width: 30%;
    height: 60%;
    border-radius: 10px;
    background-color: hsl(300, 43%, 22%);
}

.card2{
    margin-top: 15px;
}

.card3{
    margin-top: 30px;
}

.user{
    display: flex;
    margin:10% 10% 5% 10%;
    font-size: 0.85rem;
}

.user_info{
    margin-left:20px;
}

.user_name{
    margin:0;
    color:white;
    font-weight: 700;
}
.verification{
    margin:0;
    color:#eecaf5
}

.user_image{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.testimonial{
    font-size: 0.7rem;
    margin: 0% 10% 10% 10%;
    color: whitesmoke;
    font-weight: 500;
}
.testimonial p{
    margin-bottom: 15px;
}
