
html{
    font-family: 'Karla';
    font-size: 1rem;
    background-color: hsl(204, 43%, 93%);
    height: 100%;
}

body{
    height: 100%;
}

button{
    color:white;
    background-color: hsl(71, 73%, 54%);
    padding:1em;
    width:90%;
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 5px;
    border:0;
    margin-top:1em;
}

h1{
    color:hsl(179, 61%, 46%)
}

.container{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width:60%;
    height:75%;
}

.upper-section{
    background-color: white;
    width:100%;
    height: 40%;
}

.upper-section-content{
    padding:2em;
    padding-left: 3em;
}

.upper-section h1{
    padding: 0;
    margin:0;
}

.upper-section h3{
    color:hsl(71, 73%, 54%);
}

.upper-section p{
    color:hsl(218, 22%, 67%)
}

.lower-section{
    color:white;
    display: flex;
    flex-direction: row;
    height:60%;
    margin:0
}
.subscription-section{
    background-color: hsl(179, 62%, 43%);
    width:50%;
    padding:1em;
    padding-left: 3em;
    display: flex;
    flex-direction: column;
}

.subscription-section h3{
    margin-bottom: 0;
}

.subscription-section p:nth-child(2){
    margin-bottom: 0;
}
.subscription-section p:nth-child(3){
    font-size: 1rem;
    font-weight: 400;
}

.span-29{
    font-weight: 700;
    font-size:2rem;
}

.per-month{
    opacity: 0.7;
}

.why-us-section{
    background-color: hsl(179, 61%, 46%);
    width:50%;
    padding: 1em;
    padding-left:3em;
    display:flex;
    flex-direction: column;
}

.why-us-section h3{
    padding:0;
    margin-bottom: 1em;
}

.why-us-section p{
    padding:0;
    font-size:0.9rem;
    margin: 0.2em;
}

