
html{
    font-family: 'Karla';
    font-size: 1rem;
    background-color: hsl(204, 43%, 93%);
    height: 100%;
}

body{
    height: 100%;
}

button{
    color:white;
    background-color: hsl(71, 73%, 54%);
    padding:1em;
    width:80%;
    font-weight: 700;
    border-radius: 5px;
    border:0;
    margin-top:1em;
}

.container{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width:60%;
    height:75%;
}

.upper-section{
    background-color: white;
    width:100%;
    height: 45%;
}

.upper-section-content{
    padding:2em;
    padding-left: 3em;
}

.upper-section h1{
    padding: 0;
    margin:0;
}

.upper-section h3{
    color:hsl(71, 73%, 54%)
}

.upper-section p{
    color:hsl(218, 22%, 67%)
}

.lower-section{
    color:white;
    display: flex;
    flex-direction: row;
    height:55%;
    margin:0
}
.subscription-section{
    background-color: hsl(179, 62%, 43%);
    width:50%;
    padding:1em;
    padding-left: 3em;
}

.subscription-section span{
    font-weight: 700;
    font-size:2rem;
}

.why-us-section{
    background-color: hsl(179, 61%, 46%);
    width:50%;
    padding: 1em;
    padding-left:3em
}

.why-us-section p{
    padding:0;
    margin: 0.35em;
}

