
html{
    font-family: 'Karla';
    font-size: 1rem;
    font-weight: 400;
    background-color: hsl(204, 43%, 93%);
    height: 100%;
}

body{
    height: 100%;
}

button{
    color:white;
    background-color: hsl(71, 73%, 54%);
    padding:1em;
    width:90%;
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 5px;
    border:0;
    margin-top:1em;
}

h1{
    color:hsl(179, 61%, 46%)
}

.margin-zero{
    margin:0
}

.padding-zero{
    padding:0
}

.margin-bottom-zero{
    margin-bottom:0
}

.margin-bottom-one{
    margin-bottom: 1em;
}

.container{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width:60%;
    height:75%;
}

.upper-section{
    background-color: white;
    width:100%;
    height: 40%;
}

.upper-section-content{
    padding:2em;
    padding-left: 3em;
}

.upper-section h3{
    color:hsl(71, 73%, 54%);
}

.upper-section p{
    color:hsl(218, 22%, 67%)
}

.lower-section{
    color:white;
    display: flex;
    flex-direction: row;
    height:60%;
    margin:0
}
.subscription-section{
    background-color: hsl(179, 62%, 43%);
    width:50%;
    display: flex;
    flex-direction: column;
}

.subscription-section-content{
    padding:1em;
    padding-left: 3em;
}

.subscription-section p:nth-child(3){
    font-size: 1rem;
    font-weight: 400;
}

.span-29{
    font-weight: 700;
    font-size:2rem;
}

.per-month{
    opacity: 0.6;
}

.why-us-section{
    background-color: hsl(179, 61%, 46%);
    width:50%;
    display:flex;
    flex-direction: column;
}

.why-us-section p{
    font-size:0.9rem;
    margin: 0.2em;
}

.why-us-section-content{
    padding: 1em;
    padding-left:3em;
}

@media only screen and (max-width: 600px){

    .card{
        width:100%
    }

    .upper-section{
        width:100%;
        height:50%
    }
    
    .lower-section{
        flex-direction: column;
        width:100%;
        height:50%
    }
    .why-us-section{
        width:100%;
        padding:0;
    }

    .subscription-section{
        width:100%;
        margin:0;
        padding: 0;
    }
}